
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared styles */

.flex{
    display: flex;
}

.text-color{ 
    color: #FFFFFF;
}

.btn{
    height: 44px;
    border: none;
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

hr {
    border: 1px solid #FFFFFF;
    opacity: 10%;
}

/* individual styles */

/* header styles */

header{
    background-color: #1A0B2E;
}

/* nav styles */
nav {
    justify-content: space-around;
    align-items: center;
    height: 92px;
}
.nav-header{
    font-size: 3rem;
}
nav .wave{
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}
nav ul {
    list-style: none;
    justify-content: space-between;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
}

/* banner styles */
.banner{
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 760px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content{
    position: relative;
    width: 550px;
}
.circle{
    position: relative;
    width: 350px;
    /* margin: 0px auto 120px 100px; */
    margin: 0px auto 35px;
}

.circle-img{
    width: 100%;
}

.banner-microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-btn{
    position: absolute;
    top: 12px;
    right: 30px;
    background-color: #00FF88;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
    box-shadow: 0 3px 27px #00ff887e;
}

.banner-header {
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 8px;
}
.banner .paragraph{
    opacity: 80%;
    margin-bottom: 24px;
}
.banner .btn-spotify{
    margin-right: 8px;
}
.subscribe-btn {
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid #00FF88;
    color: #00FF88;
    background: none;
    height: 44px;
}

/* about podcast */

.about-podcast{
    background-color: #1A0B2E;
}
.about-section{
    padding: 50px 200px 120px;
    text-align: center;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 16px;
}
.about-text{
    text-align: center;
    font-weight: 400;
    opacity: 80%;
    line-height: 20px;
    margin-bottom: 20px;
}
.about-join{
    opacity: 80%;
    margin-bottom: 80px;
}
.about-cards {
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}
.card h3{
    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;
    margin-bottom: 16px;
}
.card p{
    font-weight: 400;
    opacity: 80%;
}