
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared styles */

.flex{
    display: flex;
}
.wave{
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}
.text-color{ 
    color: #FFFFFF;
}

.btn{
    height: 44px;
    border: none;
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

hr {
    border: 1px solid #FFFFFF;
    opacity: 10%;
}

.style-none {
    color: #FFFFFF;
    opacity: 60%;
    font-weight: 500;
    text-decoration: none;
    margin-left: 8px;
}

/* button animation */

button {
    transition: all 0.50s ease;
}

button:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 20px rgba(238, 0, 255, 0.3);
}

button:active {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(237, 2, 2, 0.3);
}




/* individual styles */

/* header styles */

header{
    background-color: #1A0B2E;
}

/* nav styles */
nav {
    justify-content: space-around;
    align-items: center;
    height: 92px;
}
.responsive-nav{
    display: none;
}
.nav-header{
    font-size: 3rem;
}

nav ul {
    list-style: none;
    justify-content: space-between;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
}

/* banner styles */
.banner{
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 760px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content{
    position: relative;
    width: 550px;
}
.circle{
    position: relative;
    width: 350px;
    /* margin: 0px auto 120px 100px; */
    margin: 0px auto 35px;
}

.circle-img{
    width: 100%;
}

.banner-microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-btn{
    position: absolute;
    top: 12px;
    right: 30px;
    background-color: #00FF88;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
    box-shadow: 0 3px 27px #00ff887e;
}

.banner-header {
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 8px;
}
.banner .paragraph{
    opacity: 80%;
    margin-bottom: 24px;
}
.banner .btn-spotify{
    margin-right: 8px;
}
.subscribe-btn {
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid #00FF88;
    color: #00FF88;
    background: none;
    height: 44px;
}

/* about podcast */

.about-podcast{
    background-color: #1A0B2E;
}
.about-section{
    padding: 3.125px 12.5px 7.5px;
    text-align: center;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 16px;
}
.about-text{
    text-align: center;
    font-weight: 400;
    opacity: 80%;
    line-height: 20px;
    margin-bottom: 20px;
}
.about-join{
    opacity: 80%;
    margin-bottom: 5rem;
}
.about-cards {
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;
}
.card h3{
    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;
    margin-bottom: 1rem;
}
.card p{
    font-weight: 400;
    opacity: 80%;
}

/* why choose techwave section  */

.choose{
    background-color: #230E3D;
    padding: 7.5rem 12.5rem;
    height: 1121px;
}

.choose-header{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

.choose-layout{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(250px, auto));
}

.choose-layout .Audio{
    background-color: #351165;
    grid-column: span 1;
    grid-row: span 2;
    border-radius: 15px;
}
.Audio img{
    margin: 112.5px 285px 21px 45px;
}
.Audio h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-left: 40px;
}
.Audio p{
    width: 300px;
    margin-left: 40px;
    font-size: 1rem;
    opacity: 60%;
}
.choose-layout .Mobile{
    background-color: #351165;
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 15px;
}
.Mobile img{
    margin: 42.5px 700px 18.5px 50px;
}
.Mobile h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-left: 40px;
}
.Mobile p{
    margin-left: 40px;
    font-size: 1rem;
    opacity: 60%;
}
.choose-layout .Community{
    background-color: #351165;
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 15px;
}
.Community img{
    margin: 40px 690px 16px 40px;
}
.Community h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-left: 40px;
}
.Community p{
    margin-left: 40px;
    font-size: 1rem;
    opacity: 60%;
}
.choose-layout .Interviews{
    background-color: #351165;
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 15px;
}
.Interviews img{
    margin: 40px 690px 16px 40px;
}
.Interviews h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-left: 40px;
}
.Interviews p{
    margin-left: 40px;
    font-size: 1rem;
    opacity: 60%;
}
.choose-layout .Rewards{
    background-color: #351165;
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 15px;
}

.Rewards img{
    margin: 40px 280px 16px 40px;
}
.Rewards h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-left: 40px;
}
.Rewards p{
    margin-left: 40px;
    font-size: 1rem;
    opacity: 60%;
}

/* episodes and host section */

.episodes-host{
    padding: 120px 200px;   
    background-color: #1A0B2E; 
}

/* episodes section */

.episodes-container{
    margin-bottom: 120px;
}

.episodes-container h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.episodes-cards{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.episodes-cards .card{
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 20px;
}

.episodes-cards .card iframe {
    width: 380px;
    height: 214px;
    border-radius: 20px 20px 0 0;
}

.card h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 24px 24px 12px;
}
.card p {
    font-weight: 400;
    opacity: 60%;
    margin: 0px 24px 12px 24px;
}
.time{
    margin: 0px 24px 24px;
}
.time img{
    height: 20px;
    width: 20px;
}
.time p {
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}

/* host section */

.host-header{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.host{
    background-color: #3511656a;
    gap: 24px;
}
.host-img {
    margin: 40px 40px 0px;
}
.host-info .name{
    margin-top: 48.5px;
    font-weight: 700;
    font-size: 2rem;
}
.host-info p{
    opacity: 60%;
    line-height: 24px;
    margin-bottom: 16px;
    width: 896px;
}
.social ul{
    list-style: none;   
    align-items: center;
    gap: 8px;
}
.social a{
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 50%;
}
.social a img{
    width: 20px;
    height: 20px;
}

/* footer styles */
footer{
    background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
    height: 412px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer-header {
    font-size: 4rem;
    margin-bottom: 32px;
}

.footer-social{
    list-style: none;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-container p{
    justify-content: center;
    opacity: 60%;
}








/* responsive */



@media screen and (max-width: 576px) {

    /* navbar */
    .nav-container{
        display: none;
    }
    .responsive-nav{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* about section  */
    .about-title{
        font-size: 2rem;
    }

    .about-text,
    .about-join {
    font-size: 0.95rem;
    line-height: 1.5;
    }

    .about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .about-cards .card h3 {
    font-size: 2.2rem;
    }

    /* choose section */
    .choose {
        padding: 1.25rem;
    }
    
    .choose-header h3 {
        font-size: 2rem;
    }
    
    .choose-layout {
        grid-template-columns: 1fr;
        gap: 24px;
    }
    
    .choose-layout  div {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
        padding: 24px 20px;
    }
    
    .Audio img,
    .Mobile img,
    .Community img,
    .Interviews img,
    .Rewards img {
        margin: 0 0 16px 0;
        width: 60px;
        height: 60px;
    }
    
    .Audio h3,
    .Mobile h3,
    .Community h3,
    .Interviews h3,
    .Rewards h3 {
        margin-left: 0;
        font-size: 1.375rem;
    }
    
    .Audio p,
    .Mobile p,
    .Community p,
    .Interviews p,
    .Rewards p {
        margin-left: 0;
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;
    }
    
    /* epiosodes section */

    .episodes-host{
        padding: 2.5rem 1.25rem;
    }
    .episodes-container h2 {
        font-size: 2rem;
    }
    
    .episodes-cards {
        flex-direction: column;
        gap: 32px;
    }
    
    .episodes-cards .card {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .episodes-cards .card iframe {
        width: 100%;
        aspect-ratio: 1.75;
        height: auto;
    }
    
    .card h4 {
        font-size: 1.25rem;
    }
    
    /* host section */

    .host-header {
        font-size: 2rem;
    }
    .host {
    flex-direction: column;
    padding: 24px 16px;
    text-align: center;
    border-radius: 25px;
    }

    .host-img {
    margin: 24px auto 0;
    }

    .host-info .name {
    font-size: 1.5rem;
    margin-bottom: 16px;
    }

    .host-info p {
    width: 100%;
    line-height: 1.5rem;
    }

    .social ul {
    justify-content: center;
    }

    /* footer  section  */

    footer {
        height: auto;
        padding: 60px 16px;
    }
    
    .footer-header {
        font-size: 2.5rem;
    }
    
    .footer-social {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 300px;  
        gap: 16px;
    }
    

}

