
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared styles */

.flex{
    display: flex;
}

.text-color{ 
    color: #FFFFFF;
}

.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

/* individual styles */

/* header styles */

header{
    background-color: #1A0B2E;
}

/* nav styles */
nav {
    justify-content: space-around;
    align-items: center;
    height: 92px;
}
.nav-header{
    font-size: 3rem;
}
nav .wave{
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}
nav ul {
    list-style: none;
    justify-content: space-between;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
}